.page{
    display: flex;
    width: 80%;
}

.hero-image{
    width: 100%;
    height: 99%;
    object-fit: cover;
}

.left{
    position: relative;
    width: 50%;
    background-color: black;
    padding: 40px;
    aspect-ratio: 2/3;
}

.profile{
    position: absolute;
    bottom: 0;
    left: 0;
    padding:30px;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    color: white;
    font-size: 40px;
    margin: 0;
}

.role{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: light;
    margin: 0;
}

.About{
    color: white;
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
}

.text{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: light;
    font-size: 16px;
}

.right{
    width: 35%;
    padding: 40px;
    background-color: white;
    color:black;
}

.section{
    margin-bottom: 40px;
}

.label{
    border-bottom: 3px solid orange;
    display:inline-block;
    padding-bottom: 5px;
    color: black;
    font-size:medium;
}

.footer{
    color: orangered;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
